.container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
}

.section {
	width: calc(100% / 3);

	padding: 0 30px;
}

.sub-header-2 {
	margin: 0ch;
	font-size: 1rem;
	font-weight: 800;
	line-height: 1;
	color: #464646;
	padding: 30px 0 10px 0;
	text-align: center;
}

.heading {
	max-width: 1200px;
	margin: auto;
}

.header {
	font-size: 3rem;
	font-weight: 500;
	margin: 0ch;
	line-height: 1;
}

.sub-header {
	margin: 0ch;
	font-size: 1.5rem;
	font-weight: 300;

	line-height: 1;
}

.text-underline {
	text-decoration: underline solid 3px #c72f33;
}

.divider {
	width: 2px;
	height: 400px;
	background-color: rgba(41, 86, 121, 0.911);
}

.divider2 {
	width: 2px;
	height: 200px;
	background-color: white;
	z-index: 555;
}
